CronMicroService/cron.log
CronMicroService/cron-err.log
CronMicroService/.nyc_output
CronMicroService/node_modules
DownloadFilesMicroService/node_modules
DownloadFilesMicroService/download.log
DownloadFilesMicroService/download-err.log
DownloadFilesMicroService/dowload-err.log
DownloadFilesMicroService/.nyc_output
DownloadFilesMicroService/test/testdata
DownloadFilesMicroService/coverage
GetFileListMicroService/filelist-err.log
GetFileListMicroService/filelist.log
GetFileListMicroService/node_modules
GetFileListMicroService/.nyc_output
GetFileListMicroService/coverage
ControlPanelMicroService/node_modules
node_modules
untarred